<div class="gallery">
    <figure class="gallery__item">
        <img src="assets/img/hotel1-4.jpg" alt="photo1 " class="gallery__photo">
    </figure>
    <figure class="gallery__item">
            <img src="assets/img/hotel1-2.jpg" alt="photo1 " class="gallery__photo">
        </figure>
    <figure class="gallery__item">
        <img src="assets/img/hotel1-3.jpg" alt="photo1 " class="gallery__photo">
    </figure>
</div>

<div class="overview">
    <h1 class="overview__heading">First Residence Hotel</h1>
    <div class="overview__stars">
            <svg class="overview__icon-star">
                    <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                    <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                    <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                    <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                    <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
    </div>
    <div class="overview__location">
            <svg class="overview__icon-location">
                    <use xlink:href="assets/img/sprite.svg#icon-location-pin"></use>
            </svg>
            <button class="btn-inline">Ko Samui District, Thailand</button>
    </div>
    <div class="overview__ratings">
        <div class="overview__ratings-average">8.6</div>
        <div class="overview__ratings-count">350 votes</div>
    </div>
</div>
<div class="details">
        <div class="description">
            <p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, 
                a nisi, quisquam laudantium nesciunt tempora quam atque, non 
                quaerat qui fugit quas ducimus? Fugiat alias earum quod, animi repudiandae unde.</p>
            <p class="paragraph">Animi nobis eveniet temporibus impedit voluptas perspiciatis eaque maiores consequatur? Eaque 
                inventore cupiditate libero.</p>
            <ul class="list">
                        <li class="list__item">Close to the beach</li>
                        <li class="list__item">Close to the beach</li>
                        <li class="list__item">Close to the beach</li>
                        <li class="list__item">Close to the beach</li>
                        <li class="list__item">Close to the beach</li>
                        <li class="list__item">Close to the beach</li>
                        <li class="list__item">Close to the beach</li>
                        <li class="list__item">Close to the beach</li>
            </ul>
            <div class="recommend">
                <p class="recommend__count">Diego and 4 other friends recommend this hotel.</p>
                <div class="recommend__friends">
                    <img src="assets/img/user-1.jpg" alt="Friend 1" class="recommend__photo">
                    <img src="assets/img/user-2.jpg" alt="Friend 2" class="recommend__photo">
                    <img src="assets/img/user-3.jpg" alt="Friend 3" class="recommend__photo">
                </div>
            </div>
        </div>
        
        <div class="user-reviews">
                User-reviews
        </div>
</div>
