
$bp-largest:75em; // 1200px (1200/16=75%)
$bp-large:68.75em; //1100px (1100/16=68.75%)
$bp-medium:56.25em; //900px (900/16=56.25%)
$bp-small:37.5em; //600px (600/16=37.5%)
$bp-smallest:31.25em; //500px (500/16=31.25%)
$bp-mobileL:26.56em; //425px (425/16=26.56%)
$bp-mobileM:23.44em; //375px (375/16=23.44%)
$bp-phone:20em; //320px (320/16=20%)
